@model Templo_de_Momo.Models.Biblioteca

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Biblioteca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaSeguido" class="control-label"></label>
                <input asp-for="FechaSeguido" class="form-control" />
                <span asp-validation-for="FechaSeguido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JuegoId" class="control-label"></label>
                <input asp-for="JuegoId" class="form-control" />
                <span asp-validation-for="JuegoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

